* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.jaldi-regular {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.jaldi-bold {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.exo-fontclass {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-mono-robotoclass {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-slab-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body::-webkit-scrollbar {
  width: 10px;  
              /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 166, 0, 0);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 1px solid rgba(204, 147, 13, 0.334);  /* creates padding around scroll thumb */
}
header {
  column-gap: 64px;
  display: flex;
  align-items: center;
  padding-top: 1%;
  margin-top: -1%;
  height: 11vh;
  border: 1px solid orange;
  border-radius: 25px;
  width: 100vw;
}

body {
  color: white;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14161c;

}

/* area principal */
.principal {
  
  padding-top:10%;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 60vw;
  height: 91vh;
}
.principal::after{
  inset: 0;
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(#44454900,#14161c00,#14161c00,#14161c00,rgba(17, 17, 23, 0.374), rgba(17, 17, 23, 0.396),rgb(17, 17, 23));
  width:100vw;
  height: 100vh;
}

#particles-js {
  opacity: 0.35;
  position: absolute;
  top: -1%;
  right: 0%;
  z-index: -3;
  width: 100%;
  height: 100vh;
}


.menu {
  margin-left: 12%;
  display: flex;
  list-style-type: none;
  column-gap: 46px;
}

.nav_link:hover {
  cursor: pointer;
  color: orange;

}
.nav_link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 60%;
  height: 1px;
  background:orange;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.7s;
}
.nav_link:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.nav_link {
  position: relative;
  align-self:right;
  text-transform: uppercase;
  font-family: "Roboto mono", serif;
  font-weight: 400;
  font-size:87%;
  color: rgb(113, 113, 113);
  text-decoration: none;
}
.logo{
  margin-left: 10%;
}
.btn_mais:hover{
  background-color: blueviolet;
  transform: translateY(-2px);
  color: white;
}
.btn_mais{
  transition: all 0.8s;
  margin-top:17vh;
  align-self: center;
  font-family: "Roboto Mono", monospace;
  height:5.3vh;
  width: 8vw;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0);
  border-color: blueviolet;
  color: rgb(97, 97, 97)
}
.mensagem{
  margin-left: 8%;
  width: 50%;
  position: absolute;
  position: absolute;
  font-family: "Roboto Mono", monospace;
}
.secundario{
  margin-top: 35vh;
  align-self: center;  
  display: flex;
  justify-content: center;
  
}
.redes_sociais{
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  position: absolute;
  column-gap: 30%;
}
#comand{
  position: relative;
  font-size: 20px;
  color: rgba(255, 166, 0, 0.36);
}
#texto_principal{
  border-left: 1px solid white;
  padding-left: 3%;
  margin-top: 3%;
  position: relative;
  font-family: "Exo", sans-serif;
}
#msg_hello{
  
  overflow: hidden;
  white-space: nowrap;
  font-size:2.6rem;
  padding-top: 1%;
  display: block;
  border-right: 3px solid rgb(255, 255, 255);
  width: 28ch;
  animation: mark 0.6s step-end infinite, write 4s steps(28,end);
}
@keyframes write {
  0%{
    width: 0;
  }
}
@keyframes mark {
  50%{
    border-right-color: transparent;
  }
  
}

/* logos */
.redes_sociais img{
  
  transition: all 0.7s;

}
.redes_sociais img:hover {
  filter: drop-shadow(0 0 4px #dbe8fb48);
  opacity: 1;
  transform: translateY(-5px);
  cursor: pointer;


}
.logo_git{
  opacity: 0.7;
  width: 26%;
  height: 26%;
  
}
.logo_linkedin{

  opacity: 0.7;
  width: 26%;
  height: 26%;
}
.logo_insta{
  opacity: 0.5;
  margin-top: 3%;
  width: 24%;
  height: 24%;
}

.sobre-nos{
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 17, 23);
}
.hamburguer_menu{
  display: none;
}
.link_menu_hamburguer{
  display: none;
}
#menu_check{
  display: none;
}
/* mobile responsividade */
@media screen and (max-width:1024px){
 
  header{
    position: relative;
    width: 100vw;
    border: 0px;
    border-bottom: 1px solid orange;
    border-radius: 0px;
    
  }
  
  .logo{
    margin-left: 17%;
  }
  .menu{
    width: 0px;
    overflow: hidden;
    position: absolute;
    right: 0;
  }
  #menu_check{
    
    display: none;
    
   
  }
  .hamburguer_menu{
    display: flex;
    position: absolute;
    right: 17%;
    
  
  }
  .link_menu_hamburguer{
    display: none;
    flex-direction: column;
    align-items: center;
    top:99%;
    z-index: 3000;
    width: 35%;
    list-style-type: none;
    position: absolute;
    text-decoration: none;
    right: 10%;
    height: 20vh;
    background-color: #14161c;
    border: 1px solid orange;
    border-top: 0px;
    row-gap: 10px;
    padding-bottom: 30%;
   
  }
  #menu_check:checked~.link_menu_hamburguer{
    display: flex;
  }  
  .mensagem{    
    margin-top: 7vh;
  }
  #msg_hello{
    
    display: flex;
    white-space: wrap;
    width: 95vw;
    animation: none;
    overflow: visible;
    margin: 0px;
  }
  .principal{
    height: 100vh;
    width: 100vw;
    position: relative  ;
    
  }
  .secundario{
    margin-top: 98%;
  }
  .redes_sociais{ 
    background-color: red ;
    display: flex;
    flex-direction: row;
}
  .btn_mais{
    width: 34vw;
    height: 6vh;
    margin-top: 15vh;
   
  }
  #texto_principal{
    color: rgb(233, 12, 167);
    margin-top: 10%;
    margin-top: 15%;
    width:80vw;
    height: 13vh;
    overflow: hidden;
  }
}
